@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { box-sizing: border-box; }

  html { background-color: theme('colors.twitter-darker'); }

  body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    background-color: theme('colors.twitter-darker');
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button, input, textarea { font: inherit; }
}

@layer components {
  .active {
    @apply bg-twitter-blue/10 text-twitter-blue;
  }
}
